
.postAdditionalBar{
    height: 30px;
    width: 700px;
}

ul {
    display: flex;
    flex-direction: row;
    
    margin :12px;
    margin-left: 80px;
}
li {
    position: relative;
    margin-right: 100px;
    list-style-type: none;
    color:gray;
}

